.menuh {
  background-color: #256CB8;  
}
.menuh .navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}
.menuh .navbar-toggler,
.menuh .navbar-toggler-icon {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
.menuh .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E");
}
.menuh a.nav-link {
  color: #d2d2d2;
}
.menuh a.nav-link:hover {
  color: #fff;
}
.menuh a.active {
  color: #ffb600;
}

.menuh .ml-menu {
  float: right;
  margin-right: 0;
  text-align: right;
}