<nav class= "navbar navbar-toggleable-md navbar-light bg-faded menuh" >
  <div class="container">
    <button class= "navbar-toggler navbar-toggler-right" type= "button"
      data-toggle= "collapse" data-target= "#navbarTogglerMenuh"
      aria-controls= "navbarTogglerDemo02" aria-expanded= "false"
      aria-label= "Toggle navigation" >
      <span class= "navbar-toggler-icon" ></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png"/> MENUH
    </a>
    <div class= "collapse navbar-collapse" id= "navbarTogglerMenuh" >
      <ul class= "navbar-nav mr-auto mt-2 mt-md-0" >
        <li class= "nav-item active" >
          <a class="nav-link active" href="#">
            <i class="fa fa-fw fa-home"></i>
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
            id="ddMonitoramentos" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-fw fa-barcode"></i>
            Menu 1
          </a>
          <div class="dropdown-menu" aria-labelledby="ddMonitoramentos">
            <a class="dropdown-item" href="menu1item1.html" tabindex="0">
              <i class="fa fa-barcode"></i> Menu 1 - item 1
              <small class="text-muted"> (GRP:MENU1.list1)</small>
            </a>
            <a class="dropdown-item" href="menu1item2.html" tabindex="0">
              <i class="fa fa-barcode"></i> Menu 1 - item 2
              <small class="text-muted"> (GRP:MENU1.list2)</small>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown float-right">
          <a class="nav-link dropdown-toggle" href="#"
            id="ddMonitoramentos" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-fw fa-inbox"></i>
            Menu 2
          </a>
          <div class="dropdown-menu" aria-labelledby="ddMonitoramentos">
            <a class="dropdown-item" href="menu2item1.html" tabindex="0">
              <i class="fa fa-barcode"></i> Menu 2 - item 1
              <small class="text-muted"> (GRP:MENU2.list1)</small>
            </a>
            <a class="dropdown-item" href="menu2item2.html" tabindex="0">
              <i class="fa fa-barcode"></i> Menu 2 - item 2
              <small class="text-muted"> (GRP:MENU2.list2)</small>
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
            id="ddProfile" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-fw fa-user"></i>
            User 1
          </a>
          <div class="dropdown-menu" aria-labelledby="ddProfile">
            <a class="dropdown-item" href="profile.html" tabindex="0">
              <i class="fa fa-user"></i> Profile
            </a>
            <a class="dropdown-item" href="logout.html" tabindex="0">
              <i class="fa fa-sign-out"></i> Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
